zell-boot/node_modules/*
zell-media/node_modules/*
socketDemo/node_modules/*
wxsharebinder/node_modules/*
es6/es6modules/node_modules/*
webpacktest/node_modules/*
workflow/node_modules/*
webpacktest/modulardemo/dest/*
webpacktest/multipage/build/*