z.100bt.com/bkdata/*
es.next/dest/*
sass/.sass-cache/*
sass/dest/*
webpacktest/modulardemo/dest/*
webpacktest/multipage/build/*
**/node_modules/*
**/.sass-cache/*
phantomjs/download/*
requirejstest/example-multipage-shim/www-built/*
requirejstest/example-multipage-shim/www-ghpages/*