<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title><%= T %></title>
        <meta name="keywords" content="<%= K %>">
        <meta name="description" content="<%= D %>">
        <link type="text/css" href="http://www.100bt.com/resource/style/css.css" rel="stylesheet" />
        <link href="http://www.100bt.com/resource/js/nav/commonNav.css" rel="stylesheet" type="text/css" />
        <!-- build:css style/combined.css -->
        <link href="style/scss.css" rel="stylesheet">
        <link href="style/component1.css" rel="stylesheet">
        <link href="style/component2.css" rel="stylesheet">
        <!-- endbuild -->
        <% if (hasWap) {%>
        <script>
            if (/(android|iphone|windows phone)/.test(window.navigator.userAgent.toLowerCase())) {
                location.href = "<%= siteRootPath%>wap/";
            }
        </script>
        <% } %>
        <script type="text/javascript" src="http://www.100bt.com/resource/js/lib/jquery-mig-min.js"></script>
        <script type="text/javascript" src="http://www.100bt.com/resource/js/nav/in-min.js"></script>
        <script type="text/javascript">
        window.navisLoadHTMLBystaticHtml = false;
        var ST_startTime=new Date();
        var ST_DOMLoadedTime=ST_LoadTime=0;
        $(function(){
        ST_DOMLoadedTime=new Date()-ST_startTime;
        });
        $(window).load(function(){
        ST_LoadTime=new Date()-ST_startTime;
        /*setDate*/
        window.setUserModelValue&&setUserModelValue("ST_DOMLoadedTime",ST_DOMLoadedTime);
        window.setUserModelValue&&setUserModelValue("ST_LoadTime",ST_LoadTime);
        window.DC_SendUserModelData&&DC_SendUserModelData();
        });
        </script>
        <script>
        var config={
            favTitle: '<%= siteData.favTitle %>',
            name: '<%= siteData.name %>',
            url: '<%= siteData.url %>',
            shareTitle: '<%= shareTitle %>',
            sharePic: '<%= sharePic %>',
            shareWord: '<%= shareWord %>'
        };
        </script>
    </head>
    <body>
        <div id="baseNav"></div>
        <a class="mybtn"></a>
        <div class="foot tC" id="footer">
            <p>广州百田信息科技有限公司</p>
            <p>Copyright © 2009 - 2015 BaitianInfo Ltd.All Rights Reserved  </p>
        </div>
        <script type="text/javascript" src="http://www.100bt.com/resource/js/util/newcommon/util.js"></script>
        <script type="text/javascript" src="http://www.100bt.com/resource/js/util/newcommon/login.js"></script>
        <script src="http://www.100bt.com/resource/js/util/newcommon/common.js"></script>
        <!--本页脚本START-->
        <script src="script/init.js"></script>
        <!--本页脚本END-->
        <script tpye="text/javascript" src="http://dc.100bt.com/js/dc.js"></script>
        <!--百度统计-->
        <script tpye="text/javascript" src="http://www.100bt.com/resource/js/lib/bdStatistic.js"></script>
    </body>
</html>
