@mixin btns_back-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 203px;
  height: 168px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(168/203);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(203/168);
      height:$mh;
    }
  }
  @include bgp(203,168,0,668,216,4604);
}

@function  btns_back-h_inspect() {
  $ix:0px;
  $x:0;
  $y:668;
  $iy:-668px;
  $iw:203px;
  $ih:168px;
  $width:203;
  $height:168;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_back($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 203px;
  height: 168px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(168/203);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(203/168);
      height:$mh;
    }
  }
  @include bgp(203,168,0,836,216,4604);
}

@function  btns_back_inspect() {
  $ix:0px;
  $x:0;
  $y:836;
  $iy:-836px;
  $iw:203px;
  $ih:168px;
  $width:203;
  $height:168;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_chou-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 161px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/161);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(161/46);
      height:$mh;
    }
  }
  @include bgp(161,46,0,382,216,4604);
}

@function  btns_chou-d_inspect() {
  $ix:0px;
  $x:0;
  $y:382;
  $iy:-382px;
  $iw:161px;
  $ih:46px;
  $width:161;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_chou-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 161px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/161);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(161/46);
      height:$mh;
    }
  }
  @include bgp(161,46,0,474,216,4604);
}

@function  btns_chou-h_inspect() {
  $ix:0px;
  $x:0;
  $y:474;
  $iy:-474px;
  $iw:161px;
  $ih:46px;
  $width:161;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_chou($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 161px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/161);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(161/46);
      height:$mh;
    }
  }
  @include bgp(161,46,0,336,216,4604);
}

@function  btns_chou_inspect() {
  $ix:0px;
  $x:0;
  $y:336;
  $iy:-336px;
  $iw:161px;
  $ih:46px;
  $width:161;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_other-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,201,216,4604);
}

@function  btns_other-h_inspect() {
  $ix:0px;
  $x:0;
  $y:201;
  $iy:-201px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_other($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,291,216,4604);
}

@function  btns_other_inspect() {
  $ix:0px;
  $x:0;
  $y:291;
  $iy:-291px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_part-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 214px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/214);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(214/46);
      height:$mh;
    }
  }
  @include bgp(214,46,0,428,216,4604);
}

@function  btns_part-h_inspect() {
  $ix:0px;
  $x:0;
  $y:428;
  $iy:-428px;
  $iw:214px;
  $ih:46px;
  $width:214;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_part($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 214px;
  height: 46px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(46/214);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(214/46);
      height:$mh;
    }
  }
  @include bgp(214,46,0,520,216,4604);
}

@function  btns_part_inspect() {
  $ix:0px;
  $x:0;
  $y:520;
  $iy:-520px;
  $iw:214px;
  $ih:46px;
  $width:214;
  $height:46;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r1-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,4124,216,4604);
}

@function  btns_r1-d_inspect() {
  $ix:0px;
  $x:0;
  $y:4124;
  $iy:-4124px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r1-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3884,216,4604);
}

@function  btns_r1-h_inspect() {
  $ix:0px;
  $x:0;
  $y:3884;
  $iy:-3884px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r1($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3644,216,4604);
}

@function  btns_r1_inspect() {
  $ix:0px;
  $x:0;
  $y:3644;
  $iy:-3644px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r2-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3404,216,4604);
}

@function  btns_r2-d_inspect() {
  $ix:0px;
  $x:0;
  $y:3404;
  $iy:-3404px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r2-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,3164,216,4604);
}

@function  btns_r2-h_inspect() {
  $ix:0px;
  $x:0;
  $y:3164;
  $iy:-3164px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r2($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2924,216,4604);
}

@function  btns_r2_inspect() {
  $ix:0px;
  $x:0;
  $y:2924;
  $iy:-2924px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r3-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1004,216,4604);
}

@function  btns_r3-d_inspect() {
  $ix:0px;
  $x:0;
  $y:1004;
  $iy:-1004px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r3-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,4364,216,4604);
}

@function  btns_r3-h_inspect() {
  $ix:0px;
  $x:0;
  $y:4364;
  $iy:-4364px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r3($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1244,216,4604);
}

@function  btns_r3_inspect() {
  $ix:0px;
  $x:0;
  $y:1244;
  $iy:-1244px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r4-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2684,216,4604);
}

@function  btns_r4-d_inspect() {
  $ix:0px;
  $x:0;
  $y:2684;
  $iy:-2684px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r4-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1484,216,4604);
}

@function  btns_r4-h_inspect() {
  $ix:0px;
  $x:0;
  $y:1484;
  $iy:-1484px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r4($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1724,216,4604);
}

@function  btns_r4_inspect() {
  $ix:0px;
  $x:0;
  $y:1724;
  $iy:-1724px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r5-d($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,1964,216,4604);
}

@function  btns_r5-d_inspect() {
  $ix:0px;
  $x:0;
  $y:1964;
  $iy:-1964px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r5-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2204,216,4604);
}

@function  btns_r5-h_inspect() {
  $ix:0px;
  $x:0;
  $y:2204;
  $iy:-2204px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_r5($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 194px;
  height: 240px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(240/194);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(194/240);
      height:$mh;
    }
  }
  @include bgp(194,240,0,2444,216,4604);
}

@function  btns_r5_inspect() {
  $ix:0px;
  $x:0;
  $y:2444;
  $iy:-2444px;
  $iw:194px;
  $ih:240px;
  $width:194;
  $height:240;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_remind-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 149px;
  height: 40px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(40/149);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(149/40);
      height:$mh;
    }
  }
  @include bgp(149,40,0,116,216,4604);
}

@function  btns_remind-h_inspect() {
  $ix:0px;
  $x:0;
  $y:116;
  $iy:-116px;
  $iw:149px;
  $ih:40px;
  $width:149;
  $height:40;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_remind($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 149px;
  height: 40px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(40/149);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(149/40);
      height:$mh;
    }
  }
  @include bgp(149,40,0,76,216,4604);
}

@function  btns_remind_inspect() {
  $ix:0px;
  $x:0;
  $y:76;
  $iy:-76px;
  $iw:149px;
  $ih:40px;
  $width:149;
  $height:40;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_share-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 216px;
  height: 51px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(51/216);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(216/51);
      height:$mh;
    }
  }
  @include bgp(216,51,0,617,216,4604);
}

@function  btns_share-h_inspect() {
  $ix:0px;
  $x:0;
  $y:617;
  $iy:-617px;
  $iw:216px;
  $ih:51px;
  $width:216;
  $height:51;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_share($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 216px;
  height: 51px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(51/216);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(216/51);
      height:$mh;
    }
  }
  @include bgp(216,51,0,566,216,4604);
}

@function  btns_share_inspect() {
  $ix:0px;
  $x:0;
  $y:566;
  $iy:-566px;
  $iw:216px;
  $ih:51px;
  $width:216;
  $height:51;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_submit-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,246,216,4604);
}

@function  btns_submit-h_inspect() {
  $ix:0px;
  $x:0;
  $y:246;
  $iy:-246px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_submit($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 212px;
  height: 45px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(45/212);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(212/45);
      height:$mh;
    }
  }
  @include bgp(212,45,0,156,216,4604);
}

@function  btns_submit_inspect() {
  $ix:0px;
  $x:0;
  $y:156;
  $iy:-156px;
  $iw:212px;
  $ih:45px;
  $width:212;
  $height:45;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_sure-h($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 80px;
  height: 38px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(38/80);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(80/38);
      height:$mh;
    }
  }
  @include bgp(80,38,0,38,216,4604);
}

@function  btns_sure-h_inspect() {
  $ix:0px;
  $x:0;
  $y:38;
  $iy:-38px;
  $iw:80px;
  $ih:38px;
  $width:80;
  $height:38;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

@mixin btns_sure($mw:null,$mh:null) {
  background-image: url(imgDest/btns.png);
  width: 80px;
  height: 38px;
  @if $mw != null {
    @include when(mobile){
      width: $mw;
      height: $mw*(38/80);;
    }
  }
  @if $mh != null {
    @include when(mobile){
      width: $mh*(80/38);
      height:$mh;
    }
  }
  @include bgp(80,38,0,0,216,4604);
}

@function  btns_sure_inspect() {
  $ix:0px;
  $x:0;
  $y:0;
  $iy:0px;
  $iw:80px;
  $ih:38px;
  $width:80;
  $height:38;
  $img:"imgDest/btns.png";
  $totalWidth:216;
  $totalHeight:4604;
  @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
}

