body {
  padding-top: 50px; }

.navbar-brand.active {
  color: #eee; }

#middle {
  min-height: 400px; }

.markdown h2 {
  padding-top: 70px;
  margin-top: -50px; }

.bs-callout-primary {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #a6c8e6;
  border-left-color: #428bca;
  background-color: #f5f9fc; }
  .bs-callout-primary h1, .bs-callout-primary h2, .bs-callout-primary h3, .bs-callout-primary h4, .bs-callout-primary h5, .bs-callout-primary h6 {
    margin-top: 0;
    color: #428bca; }
  .bs-callout-primary p:last-child {
    margin-bottom: 0; }
  .bs-callout-primary code, .bs-callout-primary .highlight {
    background-color: #fff; }

.bs-callout-danger {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #f0b9b8;
  border-left-color: #d9534f;
  background-color: #f4cecd; }
  .bs-callout-danger h1, .bs-callout-danger h2, .bs-callout-danger h3, .bs-callout-danger h4, .bs-callout-danger h5, .bs-callout-danger h6 {
    margin-top: 0;
    color: #d9534f; }
  .bs-callout-danger p:last-child {
    margin-bottom: 0; }
  .bs-callout-danger code, .bs-callout-danger .highlight {
    background-color: #fff; }

.bs-callout-warning {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #fae3c4;
  border-left-color: #f0ad4e;
  background-color: white; }
  .bs-callout-warning h1, .bs-callout-warning h2, .bs-callout-warning h3, .bs-callout-warning h4, .bs-callout-warning h5, .bs-callout-warning h6 {
    margin-top: 0;
    color: #f0ad4e; }
  .bs-callout-warning p:last-child {
    margin-bottom: 0; }
  .bs-callout-warning code, .bs-callout-warning .highlight {
    background-color: #fff; }

.bs-callout-info {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #c5e9f3;
  border-left-color: #5bc0de;
  background-color: white; }
  .bs-callout-info h1, .bs-callout-info h2, .bs-callout-info h3, .bs-callout-info h4, .bs-callout-info h5, .bs-callout-info h6 {
    margin-top: 0;
    color: #5bc0de; }
  .bs-callout-info p:last-child {
    margin-bottom: 0; }
  .bs-callout-info code, .bs-callout-info .highlight {
    background-color: #fff; }

.bs-callout-success {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #b5dfb5;
  border-left-color: #5cb85c;
  background-color: #eaf6ea; }
  .bs-callout-success h1, .bs-callout-success h2, .bs-callout-success h3, .bs-callout-success h4, .bs-callout-success h5, .bs-callout-success h6 {
    margin-top: 0;
    color: #5cb85c; }
  .bs-callout-success p:last-child {
    margin-bottom: 0; }
  .bs-callout-success code, .bs-callout-success .highlight {
    background-color: #fff; }

code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace; }

.highlight {
  margin-top: 1em;
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .c {
    color: #586E75; }
  .highlight .err {
    color: #93A1A1; }
  .highlight .g {
    color: #93A1A1; }
  .highlight .k {
    color: #859900; }
  .highlight .l {
    color: #93A1A1; }
  .highlight .n {
    color: #93A1A1; }
  .highlight .o {
    color: #859900; }
  .highlight .x {
    color: #CB4B16; }
  .highlight .p {
    color: #93A1A1; }
  .highlight .cm {
    color: #586E75; }
  .highlight .cp {
    color: #859900; }
  .highlight .c1 {
    color: #586E75; }
  .highlight .cs {
    color: #859900; }
  .highlight .gd {
    color: #2AA198; }
  .highlight .ge {
    color: #93A1A1;
    font-style: italic; }
  .highlight .gr {
    color: #DC322F; }
  .highlight .gh {
    color: #CB4B16; }
  .highlight .gi {
    color: #859900; }
  .highlight .go {
    color: #93A1A1; }
  .highlight .gp {
    color: #93A1A1; }
  .highlight .gs {
    color: #93A1A1;
    font-weight: bold; }
  .highlight .gu {
    color: #CB4B16; }
  .highlight .gt {
    color: #93A1A1; }
  .highlight .kc {
    color: #CB4B16; }
  .highlight .kd {
    color: #268BD2; }
  .highlight .kn {
    color: #859900; }
  .highlight .kp {
    color: #859900; }
  .highlight .kr {
    color: #268BD2; }
  .highlight .kt {
    color: #DC322F; }
  .highlight .ld {
    color: #93A1A1; }
  .highlight .m {
    color: #2AA198; }
  .highlight .s {
    color: #2AA198; }
  .highlight .na {
    color: #93A1A1; }
  .highlight .nb {
    color: #B58900; }
  .highlight .nc {
    color: #268BD2; }
  .highlight .no {
    color: #CB4B16; }
  .highlight .nd {
    color: #268BD2; }
  .highlight .ni {
    color: #CB4B16; }
  .highlight .ne {
    color: #CB4B16; }
  .highlight .nf {
    color: #268BD2; }
  .highlight .nl {
    color: #93A1A1; }
  .highlight .nn {
    color: #93A1A1; }
  .highlight .nx {
    color: #555; }
  .highlight .py {
    color: #93A1A1; }
  .highlight .nt {
    color: #268BD2; }
  .highlight .nv {
    color: #268BD2; }
  .highlight .ow {
    color: #859900; }
  .highlight .w {
    color: #93A1A1; }
  .highlight .mf {
    color: #2AA198; }
  .highlight .mh {
    color: #2AA198; }
  .highlight .mi {
    color: #2AA198; }
  .highlight .mo {
    color: #2AA198; }
  .highlight .sb {
    color: #586E75; }
  .highlight .sc {
    color: #2AA198; }
  .highlight .sd {
    color: #93A1A1; }
  .highlight .s2 {
    color: #2AA198; }
  .highlight .se {
    color: #CB4B16; }
  .highlight .sh {
    color: #93A1A1; }
  .highlight .si {
    color: #2AA198; }
  .highlight .sx {
    color: #2AA198; }
  .highlight .sr {
    color: #DC322F; }
  .highlight .s1 {
    color: #2AA198; }
  .highlight .ss {
    color: #2AA198; }
  .highlight .bp {
    color: #268BD2; }
  .highlight .vc {
    color: #268BD2; }
  .highlight .vg {
    color: #268BD2; }
  .highlight .vi {
    color: #268BD2; }
  .highlight .il {
    color: #2AA198; }

.pl-c {
  color: #969896; }

.pl-c1, .pl-mdh, .pl-mm, .pl-mp, .pl-mr, .pl-s1 .pl-v, .pl-s3, .pl-sc, .pl-sv {
  color: #0086b3; }

.pl-e, .pl-en {
  color: #795da3; }

.pl-s1 .pl-s2, .pl-smi, .pl-smp, .pl-stj, .pl-vo, .pl-vpf {
  color: #333; }

.pl-ent {
  color: #63a35c; }

.pl-k, .pl-s, .pl-st {
  color: #a71d5d; }

.pl-pds, .pl-s1, .pl-s1 .pl-pse .pl-s2, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre, .pl-src {
  color: #df5000; }

.pl-mo, .pl-v {
  color: #1d3e81; }

.pl-id {
  color: #b52a1d; }

.pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8; }

.pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold; }

.pl-ml {
  color: #693a17; }

.pl-mh, .pl-mh .pl-en, .pl-ms {
  color: #1d3e81;
  font-weight: bold; }

.pl-mq {
  color: #008080; }

.pl-mi {
  color: #333;
  font-style: italic; }

.pl-mb {
  color: #333;
  font-weight: bold; }

.pl-md, .pl-mdhf {
  background-color: #ffecec;
  color: #bd2c00; }

.pl-mdht, .pl-mi1 {
  background-color: #eaffea;
  color: #55a532; }

.pl-mdr {
  color: #795da3;
  font-weight: bold; }

.modal .modal-loading {
  text-align: center;
  min-height: 200px;
  line-height: 200px;
  font-size: 30px; }
.modal .modal-table {
  display: table;
  width: 100%;
  height: 100%; }
  .modal .modal-table .modal-table-cell {
    display: table-cell;
    vertical-align: middle; }
.modal .modal-info {
  color: #31708f; }
  .modal .modal-info .modal-header {
    background: #d9edf7;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
.modal .modal-sucess {
  color: #3c763d; }
  .modal .modal-sucess .modal-header {
    background: #d6e9c6;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
.modal .modal-danger {
  color: #a94442; }
  .modal .modal-danger .modal-header {
    background: #f2dede;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
.modal .modal-warning {
  color: #8a6d3b; }
  .modal .modal-warning .modal-header {
    background: #fcf8e3;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
