<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title><%= T %></title>
        <meta name="keywords" content="<%= K %>">
        <meta name="description" content="<%= D %>">
        <% if (hasWap&&hasWeb) {%>
        <script>
            if (/(android|iphone|windows phone)/.test(window.navigator.userAgent.toLowerCase())) {
                location.href = "<%= siteData.url%><%= activityPath%><%= sitePath%>wap/";
            }else{
                location.href = "<%= siteData.url%><%= activityPath%><%= sitePath%>web/";
            }
        </script>
        <% } %>
        <% if (hasWeb&&!hasWap) {%>
        <script>
            location.href = "<%= siteData.url%><%= activityPath%><%= sitePath%>web/";
        </script>
        <% } %>
        <% if (hasWap&&!hasWeb) {%>
        <script>
            location.href = "<%= siteData.url%><%= activityPath%><%= sitePath%>wap/";
        </script>
        <% } %>
    </head>
    <body>
        loading...
    </body>
</html>
