@charset "utf-8";
.hide{
  display: none!important;
}
//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin when($alias) {
  @if $alias == mobile {
    @media (max-width: $mobileBreakPointWidth) {
      @content;
    }
  }
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/
//2个等级的字体
@mixin setfontfamily($type) {
  @if $type == 1 {
    font-family: $fontFamily_normal;
  }

  @if $type == 2 {
    font-family: $fontFamily_special;
  }
}

@mixin sethlh($type){
  @if $type == 1 {
    height:$fontSize_small * 2;
    line-height:$fontSize_small * 2;
    @include when(mobile) {
      height:$fontSize_smallrem * 2;
      line-height:$fontSize_smallrem * 2;
    }
  }

  @if $type == 2 {
    height: $fontSize_normal * 2;
    line-height: $fontSize_normal * 2;

    @include when(mobile) {
      height: $fontSize_normalrem * 2;
      line-height: $fontSize_normalrem * 2;
    }
  }

  @if $type == 3 {
    height: $fontSize_normal2 * 2;
    line-height: $fontSize_normal2 * 2;

    @include when(mobile) {
      height: $fontSize_normal2rem * 2;
      line-height: $fontSize_normal2rem * 2;
    }
  }

  @if $type == 4 {
    height: $fontSize_title_normal * 2;
    line-height: $fontSize_title_normal * 2;

    @include when(mobile) {
      height: $fontSize_title_normalrem * 2;
      line-height: $fontSize_title_normalrem * 2;
    }
  }


  @if $type == 5 {
    height: $fontSize_title_large * 2;
    line-height: $fontSize_title_large * 2;

    @include when(mobile) {
      height: $fontSize_title_largerem * 2;
      line-height: $fontSize_title_largerem * 2;
    }
  }
}

//5个等级的字体大小
@mixin setfontsize($type) {
  @if $type == 1 {
    font-size: $fontSize_small;

    @include when(mobile) {
      font-size: $fontSize_small;
      font-size: $fontSize_smallrem;
    }
  }

  @if $type == 2 {
    font-size: $fontSize_normal;

    @include when(mobile) {
      font-size: $fontSize_normal;
      font-size: $fontSize_normalrem;
    }
  }

  @if $type == 3 {
    font-size: $fontSize_normal2;

    @include when(mobile) {
      font-size: $fontSize_normal2;
      font-size: $fontSize_normal2rem;
    }
  }

  @if $type == 4 {
    font-size: $fontSize_title_normal;

    @include when(mobile) {
      font-size: $fontSize_title_normal;
      font-size: $fontSize_title_normalrem;
    }
  }


  @if $type == 5 {
    font-size: $fontSize_title_large;

    @include when(mobile) {
      font-size: $fontSize_title_large;
      font-size: $fontSize_title_largerem;
    }
  }
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin toe {
  //文字省略号
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin textCenter {
  //文字居中
  text-align: center !important;
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin blockCenter {
  //块居中
  margin-left: auto !important;
  margin-right: auto !important;
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin siteColorConfig {
  ::selection {
    background: $bgc_selection;
    color: $color_selectioin;
  }

  //站点通用配置
  //链接颜色
  *{
    outline:none;
    border:none;
  }
  a {

    color: $color_link;
    text-decoration: none;
    &:hover {
      color: $color_link__Hover;
      text-decoration: none;
    }
  }

  ul, ol, dl {
    padding: 0;
  }

  li {
    list-style: none;
  }

  //全局字体和行高设定
  html {
    line-height: 1;
    font-family: $fontSize_normal;

    @include setfontsize(2);
  }
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin layout-w-1-2 {
  width: percentage(1 / 2);
  box-sizing: border-box;
}

@mixin layout-w-1-3 {
  width: percentage(1 / 3);
  box-sizing: border-box;
}

@mixin layout-w-2-3 {
  width: percentage(2 / 3);
  box-sizing: border-box;
}

@mixin layout-w-1-4 {
  width: percentage(1 / 4);
  box-sizing: border-box;
}

@mixin layout-w-3-4 {
  width: percentage(3 / 4);
  box-sizing: border-box;
}

@mixin layout-w-1-5 {
  width: percentage(1 / 5);
  box-sizing: border-box;
}

@mixin layout-w-2-5 {
  width: percentage(2 / 5);
  box-sizing: border-box;
}

@mixin layout-w-3-5 {
  width: percentage(3 / 5);
  box-sizing: border-box;
}

@mixin layout-w-4-5 {
  width: percentage(4 / 5);
  box-sizing: border-box;
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

//这个可以这样用
// <div class="ct-container2">容器
//   <span class="ct-content">！！！！这个必须是span！！！！
//     <div class="maxwidth400"这个必须是inlineblock如果要自动水平居中的话><h1>Some text</h1><p>But he stole up to us again, and suddenly clapping his hand on my shoulder, said—"Did ye see anything looking like men going towards that ship a while ago?"</p></div>
//   </span><b class="ct-faker"></b>这个必须写出来
// </div>
//.ct-container2{@include center-tablecelinline(800,400)}
//但是如果内容大过一屏的话就只能在大过一屏的大内容块里面居中所以更加通用的弹窗用不了这个东西
@mixin center-tablecellinline($width, $height) {
  & {
    width: if(unitless($width), #{$width}px, $width);
    height: if(unitless($height), #{$height}px, $height);
    display: table;
    text-align: center;

    .ct-content {
      display: table-cell;
      vertical-align: middle;
      *display: inline-block;
    }

    .ct-faker {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin bgrgba($args...) {
  @if type-of(nth($args, 1)) == "color" {
    background: rgba(nth($args, 1), nth($args, 2));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#{ie-hex-str(rgba(nth($args, 1), nth($args, 2)))},endcolorstr=#{ie-hex-str(rgba(nth($args, 1), nth($args, 2)))});
  }

  @if type-of(nth($args, 1)) == "number" {
    background: rgba(nth($args, 1), nth($args, 2), nth($args, 3), nth($args, 4));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#{ie-hex-str(rgba(nth($args, 1), nth($args, 2), nth($args, 3), nth($args, 4)))},endcolorstr=#{ie-hex-str(rgba(nth($args, 1), nth($args, 2), nth($args, 3), nth($args, 4)))});
  }
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin float($side) {
  float: unquote($side);
  display: inline-block;
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin clearfix {
  display: block;
  *zoom: 1;

  &:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
  }
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100);
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

@mixin min-height($height) {
  min-height: $height;
  height: auto !important;
  _height: $height;
}

@mixin min-width($width) {
  min-width: $width;
  width: auto !important;
  _width: $width;
}

//                                                __
//                                               /\ \__
//   ____     __   _____      __     _ __    __  \ \ ,_\    __
//  /',__\  /'__`\/\ '__`\  /'__`\  /\`'__\/'__`\ \ \ \/  /'__`\
// /\__, `\/\  __/\ \ \L\ \/\ \L\.\_\ \ \//\ \L\.\_\ \ \_/\  __/
// \/\____/\ \____\\ \ ,__/\ \__/.\_\\ \_\\ \__/.\_\\ \__\ \____\
//  \/___/  \/____/ \ \ \/  \/__/\/_/ \/_/ \/__/\/_/ \/__/\/____/

// div.logo {
//   background: url("logo.png") no-repeat;
//   @include image-2x("logo2x.png", 100px, 25px);
// }

// outputing

// div.logo {
//   background: url("logo.png") no-repeat;
// }
// @media (min--moz-device-pixel-ratio: 1.3),
//        (-o-min-device-pixel-ratio: 2.6 / 2),
//        (-webkit-min-device-pixel-ratio: 1.3),
//        (min-device-pixel-ratio: 1.3),
//        (min-resolution: 1.3dppx) {
//         div.logo {
//             background-image: url("logo2x.png");
//             background-size: 100px 25px;
//         }
// }
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

// .pop {
//   background-color: red;
//   position: relative;
//   float: left;
//   padding: 20px;

//   .hello {
//     top: -8px;

//     @include triangle(up, 8px, red, white);
//   }
// }

// <div class="pop"><div class="hello"></div>hellomynameis</div>

@mixin triangle($direction, $size: 6px, $color: #222, $color2: transparent) {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;

  @if $direction == "up" {
    border-bottom: $size solid $color;
    border-left: (1 / 2 * $size) solid $color2;
    border-right: (1 / 2 * $size) solid $color2;
  }
  @else if $direction == "down" {
    border-top: $size solid $color;
    border-left: (1 / 2 * $size) solid $color2;
    border-right: (1 / 2 * $size) solid $color2;
  }
  @else if $direction == "left" {
    border-top: (1 / 2 * $size) solid $color2;
    border-bottom: (1 / 2 * $size) solid $color2;
    border-right: $size solid $color;
  }
  @else if $direction == "right" {
    border-top: (1 / 2 * $size) solid $color2;
    border-bottom: (1 / 2 * $size) solid $color2;
    border-left: $size solid $color;
  }
}

@mixin imgAlpha($absurl){
  background:url($absurl) no-repeat;
  _background-image:none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$absurl');
}

@mixin abstl(){position: absolute!important;top:0;left:0;right:auto!important;bottom:auto!important;}
@mixin abstr(){position: absolute!important;top:0;left:auto!important;right:0;bottom:auto!important;}
@mixin absbl(){position: absolute!important;top:auto!important;left:0;right:auto!important;bottom:0;}
@mixin absbr(){position: absolute!important;top:auto!important;left:auto!important;right:0;bottom:0;}
