@charset "utf-8";
//站点通用变量

//背景颜色
$bgc_default:#fff;

//通用小字号
$fontSize_small:12px;
$fontSize_smallrem:1rem;

//正文字号
$fontSize_normal:14px;
$fontSize_normalrem:1.1666rem;

//正文字号2
$fontSize_normal2:16px;
$fontSize_normal2rem:1.333333rem;

//标题字号
$fontSize_title_normal:18px;
$fontSize_title_normalrem:1.5rem;

//大标题字号
$fontSize_title_large:24px;
$fontSize_title_largerem:2rem;

//通用正文字体宋体
$fontFamily_normal:"Arial";

//通用标题或美观字体微软雅黑
$fontFamily_special:"微软雅黑" "黑体";

//默认字体颜色
$fontColor_default:#000;

//默认链接颜色
$color_link:red;

//默认链接已过颜色
$color_link__Hover:green;


//响应式的断点
// $mobileBreakPointWidth:414px;
$mobileBreakPointWidth:540px;
// $mobileBreakPointWidth:768px;
//pc主要区域的宽度
$pcMainWidth:1000px;

//选择区域背景
$bgc_selection:#FCDE62;
//选择区域字体颜色
$color_selectioin:green;
