@charset "utf-8";

@import "../lib/css2";
$font:"arial";
%hello{
    border:1px solid red;
    .b{
        color:red;
    }
}

.c{
    @extend %hello;
    @extend %hello2!optional;
}

$a1:("hehehehe",2,3);
@debug call("nth",$a1,1);

/*
                      __           ___
                     /\ \         /\_ \    __
  ___ ___     ___    \_\ \  __  __\//\ \  /\_\  ____      __
/' __` __`\  / __`\  /'_` \/\ \/\ \ \ \ \ \/\ \/\_ ,`\  /'__`\
/\ \/\ \/\ \/\ \L\ \/\ \L\ \ \ \_\ \ \_\ \_\ \ \/_/  /_/\  __/
\ \_\ \_\ \_\ \____/\ \___,_\ \____/ /\____\\ \_\/\____\ \____\
 \/_/\/_/\/_/\/___/  \/__,_ /\/___/  \/____/ \/_/\/____/\/____/

*/
 .moduleA{
    &__title{
        color:red;
    }
    &__desc{
        color:#333;
    }
}
.moduleB{
    &__title{
        color:blue;
    }
    &__title--hover{
        color:brown;
    }
    &__desc{
        color:#333;
    }
    @at_root .moduleC &__title{
        margin-left:20px;
    }
    @at_root .moduleD .moduleE.moduleF &__title{
        margin-left:20px;
    }
}
.moduleC{
    &__top{
        height:200px;
    }
    &__ctn{
        height:100px;
    }
    &__bottom{
        height:100px;
    }
}
.a{
    @media screen and (min-width: 20px){
      color:red
    }
}

// in simpleCss you need to say
// @media screen and (min-width: 20px) {
//   .a {
//     color: red; } }



//SouceComment
/*OutputComment*/
$fontsizesmall: 14px;
$fontfamilycontent: "宋体", Arial;
$fontfamilytitle: "微软雅黑", Arial;
$mainbgcolor: blue;
$style:"background:red";
$navConfig: (home: (name: "home", color: blue), list: (name: "list", color: green));

@debug type-of($fontfamilycontent);

@debug type-of($mainbgcolor);

@debug type-of($fontsizesmall);

@debug type-of($navConfig);
@debug type-of($style);
@debug (3/2+1)rem;
@debug  (1em + 2em) * 3;
@debug #{3}-#{2};
@function happyplus($a,$b:10) {
    @return $a - $b;
}
@debug happyplus(10);
@each $a, $b in $navConfig {
    .#{$a} {
        background-color: map-get($b, "color");
    }
}

@mixin font {
    font-size: $fontsizesmall;
    font-family: $fontfamilycontent;
}

html {
    @include font;

    background-color: $mainbgcolor;
}

@include BLOCK(nav) {
    $btnC: blue;

    font-family: $fontfamilytitle;

    $btnHoverC: yellow;

    @include ELEMENT(button) {
        width: 200px;
        height: 20px;
        background-color: $btnC;
    }

    @include MODIFIER(hover) {
        @include ELEMENT(button) {
            background-color: $btnHoverC;
        }
    }
}


@for $a from 1 to 10 {
    @if $a % 2 != 0 {
        .item_odd_#{$a} {
            height: 2rem * $a;
        }
    } @else {
        .item_even_#{$a} {
            height: 2rem * $a;
        }
    }
}
