<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= T %></title>
        <meta name="keywords" content="<%= K %>">
        <meta name="description" content="<%= D %>">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="shortcut icon" href="icon.png">
        <link rel="icon" href="icon.png">
        <link rel="stylesheet" href="http://resource.a0bi.com/resource/css/common/normalize.css">
        <!-- build:css style/combined.css -->
        <link href="style/sprite.css" rel="stylesheet">
        <link href="style/css.css" rel="stylesheet">
        <!-- endbuild -->
        <script src="http://resource.a0bi.com/resource/js/lib/zepto.min.all.js"></script>
        <script src="http://resource.a0bi.com/resource/js/lib/util/dist/util.js?20150515"></script>
        <% if (hasWeb) {%>
        <script>
            if (!/(android|iphone|windows phone)/.test(window.navigator.userAgent.toLowerCase())) {
                location.href = "<%= siteData.url%><%= activityPath%><%= sitePath%>web/";
            }
        </script>
        <% } %>
        <script type="text/javascript">
        ;(function(){
        $(window).resize(function(){
        var htmlEle = $("html")[0];
        var w = htmlEle.offsetWidth;
        var fontSize = w / 640 * 24; /*保证320w的情况下1rem=12px*/
        htmlEle.style.fontSize = fontSize + 'px';
        }).resize();
        })();
        var ST_startTime=new Date();
        var ST_DOMLoadedTime=ST_LoadTime=0;
        $(function(){
        ST_DOMLoadedTime=new Date()-ST_startTime;
        });
        $(window).on("load",function(){
        ST_LoadTime=new Date()-ST_startTime;
        /*setDate*/
        window.setUserModelValue&&setUserModelValue("ST_DOMLoadedTime",ST_DOMLoadedTime);
        window.setUserModelValue&&setUserModelValue("ST_LoadTime",ST_LoadTime);
        window.DC_SendUserModelData&&DC_SendUserModelData();
        });
        </script>
        <script>
            var config={
                favTitle: '<%= siteData.favTitle %>',
                name: '<%= siteData.name %>',
                url: '<%= siteData.url %>',
                shareTitle: '<%= shareTitle %>',
                sharePic: '<%= sharePic %>',
                shareWord: '<%= shareWord %>'
            };
        </script>
    </head>
    <body>
        <div class="foot tC" id="footer">
            <p>广州百田信息科技有限公司</p>
            <p>Copyright © 2009 - 2015 BaitianInfo Ltd.All Rights Reserved  </p>
        </div>
        <script type="text/javascript" src="http://resource.a0bi.com/resource/js/plugins/wx/jweixin.js"></script>
        <script type="text/javascript" src="http://resource.a0bi.com/resource/js/plugins/wx/weixinsharebinder.js"></script>
        <script src="script/init.js"></script>
        <!--平台的统计-->
        <script type="text/javascript" src="http://dc.100bt.com/js/dc.js"></script>
        <!--百度统计-->
        <script type="text/javascript" src="http://www.100bt.com/resource/js/lib/bdStatistic.js"></script>
    </body>
</html>
