@charset "UTF-8";
.fontDemo {
  background: green;
  color: white;
  margin-bottom: 20px; }
  .fontDemo--spec {
    font-family: "微软雅黑" "黑体"; }
  .fontDemo1 {
    font-size: 12px;
    height: 24px;
    line-height: 24px; }
    @media (max-width: 540px) {
      .fontDemo1 {
        font-size: 12px;
        font-size: 1rem; } }
    @media (max-width: 540px) {
      .fontDemo1 {
        height: 2rem;
        line-height: 2rem; } }
  .fontDemo2 {
    font-size: 14px;
    height: 28px;
    line-height: 28px; }
    @media (max-width: 540px) {
      .fontDemo2 {
        font-size: 14px;
        font-size: 1.1666rem; } }
    @media (max-width: 540px) {
      .fontDemo2 {
        height: 2.3332rem;
        line-height: 2.3332rem; } }
  .fontDemo3 {
    font-size: 16px;
    height: 32px;
    line-height: 32px; }
    @media (max-width: 540px) {
      .fontDemo3 {
        font-size: 16px;
        font-size: 1.33333rem; } }
    @media (max-width: 540px) {
      .fontDemo3 {
        height: 2.66667rem;
        line-height: 2.66667rem; } }
  .fontDemo4 {
    font-size: 18px;
    height: 36px;
    line-height: 36px; }
    @media (max-width: 540px) {
      .fontDemo4 {
        font-size: 18px;
        font-size: 1.5rem; } }
    @media (max-width: 540px) {
      .fontDemo4 {
        height: 3rem;
        line-height: 3rem; } }
  .fontDemo5 {
    font-size: 24px;
    height: 48px;
    line-height: 48px; }
    @media (max-width: 540px) {
      .fontDemo5 {
        font-size: 24px;
        font-size: 2rem; } }
    @media (max-width: 540px) {
      .fontDemo5 {
        height: 4rem;
        line-height: 4rem; } }

::-moz-selection {
  background: #FCDE62;
  color: green; }

::selection {
  background: #FCDE62;
  color: green; }

* {
  outline: none;
  border: none; }

a {
  color: red;
  text-decoration: none; }
  a:hover {
    color: green;
    text-decoration: none; }

ul, ol, dl {
  padding: 0; }

li {
  list-style: none; }

html {
  line-height: 1;
  font-family: 14px;
  font-size: 14px; }
  @media (max-width: 540px) {
    html {
      font-size: 14px;
      font-size: 1.1666rem; } }

.hide {
  display: none; }
